html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}

main {
  min-height: calc(100vh - 171px);
}

.divider::before, .divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #555;
  margin: auto .25rem;
  /*color: white;*/
  /*box-shadow: 0 -2px;*/
}

.product-item {
  border: 0;
}

  .product-item:hover {
    border: 1px solid #4cacba;
  }

.cart-input {
  width: 50px;
  border: 1px solid #e6e6e6;
}

  .cart-input:focus-visible {
    outline: 1px solid #e6e6e6;
  }
