@model IEnumerable<Category>
@{
    ViewData["Title"] = "類型清單";
}

<div class="p-3">
    <div class="d-flex mb-3">
        <h2 class="text-primary me-auto">Category List</h2>
        <div>
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle me-1"></i>新增
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    類型名稱
                </th>
                <th>
                    訂購數量
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td width=30%>
                        @item.Name
                    </td>
                    <td width=30%>
                        @item.DisplayOrder
                    </td>
                    <td>
                        <div class="text-end">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil-square me-1"></i>編輯
                            </a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash-fill me-1"></i>刪除
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
